name: Test

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.15.1"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
  test:
    name: Test (unit)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.15.1"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Test
        run: pnpm test:cov
  test-e2e:
    name: Test (e2e)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.15.1"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Test e2e
        run: pnpm test:e2e
  test-integration-v1:
    name: Test (integration, turbo@1.13.4)
    runs-on: ubuntu-22.04
    needs: [lint, test, test-e2e]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime for caching
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Build docker images
        run: docker compose -f integration/compose-v1.yml build
      - name: Test API with turborepo
        run: docker compose -f integration/compose-v1.yml run test-v1 1.13.4
  test-integration-v2:
    name: Test (integration, turbo@^2)
    runs-on: ubuntu-22.04
    needs: [lint, test, test-e2e]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime for caching
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Build docker images
        run: docker compose -f integration/compose-v2.yml build
      - name: Test API with turborepo
        run: docker compose -f integration/compose-v2.yml run test-v2 ^2
  test-integration-v1-s3:
    name: Test (integration, turbo@1.13.4, S3)
    runs-on: ubuntu-22.04
    needs: [lint, test, test-e2e]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime for caching
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Build docker images
        run: docker compose -f integration/compose-v1-s3.yml build
      - name: Test API with turborepo (S3 storage)
        run: docker compose -f integration/compose-v1-s3.yml run test-v1 1.13.4
  test-integration-v2-s3:
    name: Test (integration, turbo@^2, S3)
    runs-on: ubuntu-22.04
    needs: [lint, test, test-e2e]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime for caching
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Build docker images
        run: docker compose -f integration/compose-v2-s3.yml build
      - name: Test API with turborepo (S3 storage)
        run: docker compose -f integration/compose-v2-s3.yml run test-v2 ^2
