name: Test

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up pnpm
        uses: pnpm/action-setup@v3
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.12"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
  test:
    name: Test (unit)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up pnpm
        uses: pnpm/action-setup@v3
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.12"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Test
        run: pnpm test:cov
  test-e2e:
    name: Test (e2e)
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up pnpm
        uses: pnpm/action-setup@v3
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.12"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Test e2e
        run: pnpm test:e2e
  test-integration:
    name: Test (integration)
    runs-on: ubuntu-22.04
    needs: [lint, test, test-e2e]
    strategy:
      matrix:
        turbo_version: ["^1.10", "^1.11", "^1.12", "^1.13", "latest"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Runtime for caching
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Build docker images
        run: docker compose build
      - name: Test API with turborepo
        run: docker compose run test ${{ matrix.turbo_version }}
